.background {
   background-image: url(https://beiz.jp/images_P/wood-texture/wood-texture_00032.jpg);
   background-size:cover;
}

img {
   padding-left: 0;
}

h1 {
    text-align: center;
    font-size: 150px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: white;
    animation: animName 2.5s;
}
/*Profileの動き*/
@keyframes animName {
 0%{
     width: 0%;
   }
50%{
      width: 230%;
   }
100%{
     width: 100%;
   }
}

 h4 {
    font-size: 40px;
    margin: 0px;
    color:white;
 }

 
 .profile {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 25px;
 }

 .important p {
    margin: 0%;
 }

 .key {
    font-size: 40px;
    background: linear-gradient(transparent 50%, #ff99ab 90%);
 }

 .name {
     padding-left: 200px;
     color: white;
     font-size: 30px;
 }

 .name span {
   background: linear-gradient(transparent 50%, #ff99ab 90%);
 }

 .details {
    display: flex; 
    flex-direction: reverse;
    justify-content: space-evenly;
    color: white;
    font-size: 30px;
 }

 .like {
   background: linear-gradient(transparent 50%, rgb(255, 255, 147) 90%);
   font-size: 50px;
 }

 .hate {
   background: linear-gradient(transparent 50%, rgb(138, 1, 115) 90%);
   font-size: 50px;
 }

 .flashing {
   animation: flash 1s linear infinite;
   width:50px;
   height:50px;
   margin:20px;
   color: red;
 }
 
 @keyframes flash {
   0%,100% {
     opacity: 1;
   }
 
   50% {
     opacity: 0;
   }
 }

 .free {
    display: flex; 
    justify-content: center;
    color: white;
    font-size: 20px;

 }

 .dream {
    
 }
